@model myProperty.Models.User

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<div class="card">
    <div class="card-header">
        <h4>@Model.FullName</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UserType)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UserType)
            </dd>
        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
