@model myProperty.Models.Auction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Property.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinBidIncrement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinBidIncrement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservePrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuctionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
